<h2>Hello World Rails Twilio Message</h2>   
<br>

<form action="/send_messages/send_text" method="post">
  <div>
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="phone">Enter target phone number: </label>
    <input type="tel" name="phone" id="phone">
  </div>
  <div>
    <input type="submit" value="send!">
  </div>
</form>
